@{
    ViewBag.Title = "Contact our co-foudners. We are available night or day";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Ben:</strong> <a href="mailto:belliott@usc.edu">belliott@usc.edu</a>
    <strong>Kishan:</strong> <a href="mailto:kishantr@usc.edu">kishantr@usc.edu</a><br />
</address>