@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Depth to your data. </h1>
    <p class="lead">Gain insights from custom built nueral networks. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Easy to Use</h2>
        <p>
            Simply provide our expert team with data, and we'll do the rest. Using state of the art machine learning techinuqes and nueral networks, we idenitfy trends and key insights from your data. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Trustworthy</h2>
        <p>Feel confident that your data is safe. Security is one of our key values; we do everything to make sure that your data is private.</p>
    </div>
    <div class="col-md-4">
        <h2>Custom</h2>
        <p>Each set of data is unique, and because of that, so are the algorithms we build. Our networks are custom built for your data in order to get the best results. </p>
    </div>
</div>